* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
